Repository CYS4srl/SensitiveDiscoverer, pull requests merged in 2024-04, with the labels that each got.

#58 Search bar to filter scan results; fix UI logic
  src/main/java/burp/BurpExtender.java
  src/main/java/com/cys4/sensitivediscoverer/MainUI.java
  src/main/java/com/cys4/sensitivediscoverer/RegexScanner.java
  src/main/java/com/cys4/sensitivediscoverer/RegexSeeder.java
  src/main/java/com/cys4/sensitivediscoverer/event/LogEntriesListener.java
  src/main/java/com/cys4/sensitivediscoverer/event/OptionsScannerUpdateListener.java
  src/main/java/com/cys4/sensitivediscoverer/event/OptionsScannerUpdateMaxSizeListener.java
  src/main/java/com/cys4/sensitivediscoverer/event/OptionsScannerUpdateNumThreadsListener.java
  src/main/java/com/cys4/sensitivediscoverer/model/HttpRecord.java
  src/main/java/com/cys4/sensitivediscoverer/model/HttpSection.java
  src/main/java/com/cys4/sensitivediscoverer/model/LogEntity.java
  src/main/java/com/cys4/sensitivediscoverer/model/LogEntriesManager.java
  src/main/java/com/cys4/sensitivediscoverer/model/RegexEntity.java
  src/main/java/com/cys4/sensitivediscoverer/model/RegexEntityJsonAdapter.java
  src/main/java/com/cys4/sensitivediscoverer/model/RegexListContext.java
  src/main/java/com/cys4/sensitivediscoverer/model/RegexScannerOptions.java
  src/main/java/com/cys4/sensitivediscoverer/ui/LogsTableContextMenu.java
  src/main/java/com/cys4/sensitivediscoverer/ui/RegexEditDialog.java
  src/main/java/com/cys4/sensitivediscoverer/ui/RegexListPanel.java
  src/main/java/com/cys4/sensitivediscoverer/ui/tab/AboutTab.java
  src/main/java/com/cys4/sensitivediscoverer/ui/tab/LoggerTab.java
  src/main/java/com/cys4/sensitivediscoverer/ui/tab/OptionsTab.java
  src/main/java/com/cys4/sensitivediscoverer/ui/table/LogsTable.java
  src/main/java/com/cys4/sensitivediscoverer/ui/table/LogsTableModel.java
  src/main/java/com/cys4/sensitivediscoverer/ui/table/RegexListTable.java
  src/main/java/com/cys4/sensitivediscoverer/ui/table/RegexListTableModel.java
  src/main/java/com/cys4/sensitivediscoverer/utils/FileUtils.java
  src/main/java/com/cys4/sensitivediscoverer/utils/LoggerUtils.java
  src/main/java/com/cys4/sensitivediscoverer/utils/Messages.java
  src/main/java/com/cys4/sensitivediscoverer/utils/ScannerUtils.java
  src/main/java/com/cys4/sensitivediscoverer/utils/SwingUtils.java
  src/main/java/com/cys4/sensitivediscoverer/utils/Utils.java
  src/main/resources/TextUI_en_US.properties
  src/main/resources/regexes/regex_general.jsonc
  src/test/java/com/cys4/sensitivediscoverer/MainUITest.java
  src/test/java/com/cys4/sensitivediscoverer/RegexScannerTest.java
  src/test/java/com/cys4/sensitivediscoverer/model/HttpSectionTest.java
  src/test/java/com/cys4/sensitivediscoverer/utils/FileUtilsTest.java
Labels: feature/logger, refactor/logger, refactor/options, refactor/scanner

#59 Options persistence
  src/main/java/burp/BurpExtender.java
  src/main/java/com/cys4/sensitivediscoverer/MainUI.java
  src/main/java/com/cys4/sensitivediscoverer/RegexScanner.java
  src/main/java/com/cys4/sensitivediscoverer/model/RegexEntity.java
  src/main/java/com/cys4/sensitivediscoverer/model/RegexScannerOptions.java
  src/main/java/com/cys4/sensitivediscoverer/ui/RegexListPanel.java
  src/main/java/com/cys4/sensitivediscoverer/ui/tab/LoggerTab.java
  src/main/java/com/cys4/sensitivediscoverer/ui/tab/OptionsTab.java
  src/main/java/com/cys4/sensitivediscoverer/utils/FileUtils.java
  src/main/java/com/cys4/sensitivediscoverer/utils/SwingUtils.java
  src/main/java/com/cys4/sensitivediscoverer/utils/Utils.java
  src/main/resources/TextUI_en_US.properties
  src/main/resources/config.properties
  src/test/java/com/cys4/sensitivediscoverer/MainUITest.java
  src/test/java/com/cys4/sensitivediscoverer/RegexScannerTest.java
  src/test/java/com/cys4/sensitivediscoverer/mock/BurpMontoyaApiMock.java
  src/test/java/com/cys4/sensitivediscoverer/mock/PersistenceMock.java
  src/test/java/com/cys4/sensitivediscoverer/mock/PreferencesMock.java
  src/test/java/com/cys4/sensitivediscoverer/model/RegexScannerOptionsTest.java
  src/test/java/com/cys4/sensitivediscoverer/utils/FileUtilsTest.java
Labels: feature/options

#60 Fix available options for dialog messages
  src/main/java/com/cys4/sensitivediscoverer/ui/RegexEditDialog.java
  src/main/java/com/cys4/sensitivediscoverer/ui/RegexListPanel.java
  src/main/java/com/cys4/sensitivediscoverer/ui/tab/LoggerTab.java
  src/main/resources/TextUI_en_US.properties
Labels: fix/logger, fix/options
